%h3 Recent Captures
%div{ :class => "well" }
  - if submissions.length == 0
    %p No cpatures yet.  Get to hacking!
  - else
    %ul
    - submissions.each do |capture|
      %li<
        & #{capture.team.name} solved "#{capture.flag}" for #{capture.points} points!

%h3 Scores
%table{ :class => "table table-striped" }
  %tr
    %th Place
    %th Team Name
    %th Points
    %th Badges
  - place = 0
  - teams.each do |team|
  - next if team.name == "admin"
  - place += 1
    %tr
      %td= place
      %td<
        &= team.name
      %td= team.score
      %td
        - team.solves.each do |solution|
          -if solution.points == 5
            %img{ :src => "/imgs/moose.png", :alt => "#{solution.flag}", :id => "badge" , :class => "nonflag" }
          - else
            %img{ :src => "/imgs/flag.png", :alt => "#{solution.flag}", :id => "badge", :class => "flag" }
