%table{ :class => "table table-striped" }
  %tr
    %th Place
    %th Team Name
    %th Points
    %th Badges
  - place = 0
  - teams.each do |team|
  - next if team.name == "admin"
  - place += 1
    %tr
      %td= place
      %td
        %a{ :role => "button", "data-toggle" => "modal", "data-target" => "#team#{team.id}ScoreModal" }<
          &= team.display
      %td= team.score
      %td
        - team.solves.each do |solution|
          -if solution.points == 5
            %img{ :src => "/imgs/moose.png", :alt => "#{solution.flag}", :id => "badge" , :class => "nonflag" }
          - else
            %img{ :src => "/imgs/flag.png", :alt => "#{solution.flag}", :id => "badge", :class => "flag" }

- teams.each do |team|
  = haml :_modal_team_solves, :locals => { :team => team }
