%div{ :class => "container-fluid" }
  %div{ :class => "row" }
    %div{ :class => "panel with-nav-tabs panel-info" }
      %div{ :class => "panel-heading" }
        %ul{ :class => "nav nav-tabs", :role => "tablist" }
          %li{ :role => "presentation", :class => "active" }<
            %a{ :href => "#challengesTab", "aria-controls" => "challengesTab", :role => "tab", "data-toggle" => "tab" }<
              %span{ :class => "glyphicon glyphicon-tower", "aria-hidden" => "true" }<
              Challenges
          %li{ :role => "presentation" }<
            %a{ :href => "#teamsTab", "aria-controls" => "teamsTab", :role => "tab", "data-toggle" => "tab" }<
              %span{ :class => "glyphicon glyphicon-user", "aria-hidden" => "true" }<
              Teams
          %li{ :role => "presentation" }<
            %a{ :href => "#capturesTab", "aria-controls" => "capturesTab", :role => "tab", "data-toggle" => "tab" }<
              %span{ :class => "glyphicon glyphicon-info-sign", "aria-hidden" => "true" }<
              Scoreboard
      %div{ :class => "panel-body" }
        %div{ :class => "tab-content" }
          %div{ :role => "tabpanel", :class => "tab-pane active", :id => "challengesTab" }
            //flags go here
            %div{ :class => "col-lg-4 col-md-4" }
              %div{ :class => "panel panel-default" }
                %div{ :class => "panel-heading" } Category 1
                %div{ :class => "panel-body" }
                  - flags_cat1.each do |flag|
                    - if flag.active
                      %button{ :type => "button", :class => "btn btn-success btn-md btn-block", "data-toggle" => "modal", "data-target" => "#flag#{flag.id}ManageModal", :id => "flag#{flag.id}-manage-button" } #{flag.name[0..25]}
                    - else
                      %button{ :type => "button", :class => "btn btn-danger btn-md btn-block", "data-toggle" => "modal", "data-target" => "#flag#{flag.id}ManageModal", :id => "flag#{flag.id}-manage-button" } #{flag.name[0..25]}

            %div{ :class => "col-lg-4 col-md-4" }
              %div{ :class => "panel panel-default" }
                %div{ :class => "panel-heading" } Category 2
                %div{ :class => "panel-body" }
                  - flags_cat2.each do |flag|
                    - if flag.active
                      %button{ :type => "button", :class => "btn btn-success btn-md btn-block", "data-toggle" => "modal", "data-target" => "#flag#{flag.id}ManageModal", :id => "flag#{flag.id}-manage-button" } #{flag.name[0..25]}
                    - else
                      %button{ :type => "button", :class => "btn btn-danger btn-md btn-block", "data-toggle" => "modal", "data-target" => "#flag#{flag.id}ManageModal", :id => "flag#{flag.id}-manage-button" } #{flag.name[0..25]}

            %div{ :class => "col-lg-4 col-md-4" }
              %div{ :class => "panel panel-default" }
                %div{ :class => "panel-heading" } Category 3
                %div{ :class => "panel-body" }
                  - flags_cat3.each do |flag|
                    - if flag.active
                      %button{ :type => "button", :class => "btn btn-success btn-md btn-block", "data-toggle" => "modal", "data-target" => "#flag#{flag.id}ManageModal", :id => "flag#{flag.id}-manage-button" } #{flag.name[0..25]}
                    - else
                      %button{ :type => "button", :class => "btn btn-danger btn-md btn-block", "data-toggle" => "modal", "data-target" => "#flag#{flag.id}ManageModal", :id => "flag#{flag.id}-manage-button" } #{flag.name[0..25]}
          
          %div{ :role => "tabpanel", :class => "tab-pane", :id => "teamsTab" }
            //teams go here
            - teams.each do |team|
              - next if team.name == "admin"
              - if team.locked
                %button{ :type => "button", :class => "btn btn-danger btn-lg span12", "data-toggle" => "modal", "data-target" => "#team#{team.id}ManageModal", :id => "team#{team.id}-manage-button" }<
                  &= team.display
              - else
                %button{ :type => "button", :class => "btn btn-primary btn-lg span12", "data-toggle" => "modal", "data-target" => "#team#{team.id}ManageModal", :id => "team#{team.id}-manage-button" }<
                  &= team.display

          %div{ :role => "tabpanel", :class => "tab-pane", :id => "capturesTab" }
            //captures go here
            = haml :_dashboard, :locals => { :teams => teams }

- flags.each do |flag|
  = haml :_modal_manage_challenge, :locals => { :flag => flag }

- teams.each do |team|
  = haml :_modal_manage_team, :locals => { :team => team }
