!!!
%html
  %head
    %title In-Flight CTF
    %link{ :href => "/css/bootstrap.min.css", :rel => "stylesheet" }
    %link{ :href => "/css/custom.css", :rel => "stylesheet" }
    %meta{ "http-equiv" => "refresh", :content => "300" }
  %body
    %script{ :src => "/js/jquery-1.11.2.min.js" }
    %script{ :src => "/js/bootstrap.min.js" }
    %script{ :src => "/js/custom.js" }
    %div{ :id => "content" }
      %div{ :class => "page-header" }
        %h1
          %span{ :class => "glyphicon glyphicon-plane", "aria-hidden" => "true" }
          In-Flight CTF
          %span{ :class => "glyphicon glyphicon-flag", "aria-hidden" => "true" }
          %br
          %small<
            Presented by
            %a{ :href => "https://www.twitter.com/dc503/", :target => "_blank" } @dc503
            and
            %a{ :href => "https://www.twitter.com/sibios/", :target => "_blank" } @sibios
        %h4
          DC503 is Portland's InfoSec fight club, we demo cool stuff every 3rd Sunday of the month.  Watch @dc503 for updates!
      %div{ :id => "buttons", :class => "container-fluid" }
        %button{ :type => "button", :class => "btn btn-primary btn-lg", "data-toggle" => "modal", "data-target" => "#registrationModal", :id => "registration-button" }<
          %span{ :class => "glyphicon glyphicon-user", "aria-hidden" => "true" }<
          Register
        %button{ :type => "button", :class => "btn btn-primary btn-lg", "data-toggle" => "modal", "data-target" => "#loginModal", :id => "login-button" }<
          %span{ :class => "glyphicon glyphicon-home", "aria-hidden" => "true" }<
          Login
        %button{ :type => "button", :class => "btn btn-primary btn-lg", "data-toggle" => "modal", "data-target" => "#instructionModal", :id => "login-button" }<
          %span{ :class => "glyphicon glyphicon-book", "aria-hidden" => "true" }<
          Rules
      
      - if flash[:error]
        %br
        %div{ :class => "alert alert-danger alert-dismissable fade in", :role => "alert", :id => "messaging" }<
          %button{ :type => "button", :class => "close", "data-dismiss" => "alert", "aria-label" => "Close" }
            %span{ "aria-hidden" => "true" } &times;
          &= flash[:error]
      - if flash[:notice]
        %br
        %div{ :class => "alert alert-success alert-dismissable fade in", :role => "alert", :id => "messaging" }<
          %button{ :type => "button", :class => "close", "data-dismiss" => "alert", "aria-label" => "Close" }
            %span{ "aria-hidden" => "true" } &times;
          &= flash[:notice]

      = haml :_registration
      = haml :_login
      = haml :_instructions

      %br
      = haml :_recent, :locals => { :submissions => submissions }

      %div{ :class => "container-fluid" }
        %div{ :class => "row" }
          %div{ :class => "panel with-nav-tabs panel-default" }
            %div{ :class => "panel-heading" }
              %ul{ :class => "nav nav-tabs", :role => "tablist" }
                %li{ :role => "presentation", :class => "active" }<
                  %a{ :href => "#capturesTab", "aria-controls" => "capturesTab", :role => "tab", "data-toggle" => "tab" }<
                    %span{ :class => "glyphicon glyphicon-info-sign", "aria-hidden" => "true" }<
                    Scoreboard
            %div{ :class => "panel-body" }
              %div{ :class => "tab-content" }
                %div{ :role => "tabpanel", :class => "tab-pane active", :id => "capturesTab" }
                  //captures go here
                  = haml :_dashboard, :locals => { :teams => teams }

