!!!
%html
  %head
    %title InFlightCTF
    %link{ :href => "/css/bootstrap.min.css", :rel => "stylesheet" }
  %body
    %script{ :src => "/js/jquery-1.11.2.min.js" }
    %script{ :src => "/js/bootstrap.min.js" }
    %h1 InFlightCTF
    %h3 Presented by dc503 and @sibios
    %br
    %button{ :type => "button", :class => "btn btn-primary btn-lg", "data-toggle" => "modal", "data-target" => "#registrationModal" }
      %span{ :class => "glyphicon glyphicon-user", "aria-hidden" => "true" }
      Register
    %button{ :type => "button", :class => "btn btn-primary btn-lg", "data-toggle" => "modal", "data-target" => "#flagModal" }
      %span{ :class => "glyphicon glyphicon-flag", "aria-hidden" => "true" }
      Submit Flag
    %br
    - if flash[:notice]
      %div{ :class => "alert alert-success", :role => "alert" }= flash[:notice]
      %br

    - if flash[:error]
      %div{ :class => "alert alert-danger", :role => "alert" }= flash[:error]
      %br
    = haml :_registration
    = haml :_submission
    %h5 Submissions
    %table{ :class => "table table-striped" }
      %tr
        %th Place
        %th Team Name
        %th Points
        %th Badges
      - place = 0
      - teams.each do |team|
      - place += 1
        %tr
          %td= place
          %td= team.name
          %td= team.score
          %td
