!!!
%html
  %head
    %title CTF Name
    %link{ :href => "/css/bootstrap.min.css", :rel => "stylesheet" }
    %link{ :href => "/css/custom.css", :rel => "stylesheet" }
    %meta{ "http-equiv" => "refresh", :content => "300" }
  %body
    %script{ :src => "/js/jquery-1.11.2.min.js" }
    %script{ :src => "/js/bootstrap.min.js" }
    %script{ :src => "/js/custom.js" }
    %div{ :id => "content" }
      %div{ :class => "page-header" }
        %h1
          %span{ :class => "glyphicon glyphicon-plane", "aria-hidden" => "true" }
          CTF Name
          %span{ :class => "glyphicon glyphicon-flag", "aria-hidden" => "true" }
          %br
          %small<
            Presented by AUTHOR
        %h4
          Subtitle
      %div{ :id => "buttons", :class => "container-fluid" }
        %button{ :type => "button", :class => "btn btn-primary btn-lg", "data-toggle" => "modal", "data-target" => "#instructionModal", :id => "login-button" }<
          %span{ :class => "glyphicon glyphicon-book", "aria-hidden" => "true" }<
          Rules
        - if user.name != "admin"
          %button{ :type => "button", :class => "btn btn-primary btn-lg", "data-toggle" => "modal", "data-target" => "#flagModal", :id => "flag-button" }<
            %span{ :class => "glyphicon glyphicon-flag", "aria-hidden" => "true" }<
            Submit Flag
        - else
          %button{ :type => "button", :class => "btn btn-primary btn-lg", "data-toggle" => "modal", "data-target" => "#flagModal", :id => "flag-button", :disabled => "disabled" }<
            %span{ :class => "glyphicon glyphicon-flag", "aria-hidden" => "true" }<
            Submit Flag
        %a{ :href => "/logout", :class => "btn btn-primary btn-lg", :id => "logout-button" }<
          %span{ :class => "glyphicon glyphicon-off", "aria-hidden" => "true" }<
          Logout

      = haml :_submission
      = haml :_instructions

      - if flash[:notice]
        %br
        %div{ :class => "alert alert-success alert-dismissable fade in", :role => "alert", :id => "messaging" }<
          %button{ :type => "button", :class => "close", "data-dismiss" => "alert", "aria-label" => "Close" }
            %span{ "aria-hidden" => "true" } &times;
          &= flash[:notice]

      - if flash[:error]
        %br
        %div{ :class => "alert alert-danger alert-dismissable fade in", :role => "alert", :id => "messaging" }<
          %button{ :type => "button", :class => "close", "data-dismiss" => "alert", "aria-label" => "Close" }
            %span{ "aria-hidden" => "true" } &times;
          &= flash[:error]
      %br
      = haml :_recent, :locals => { :submissions => submissions }

      =yield
